body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #60a4e9;
}
.todo-container {
    width: 300px;
    padding: 20px;
    border: 1px solid #ced4da;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}
.content {
    border: 1px solid #ced4da;
    border-radius: 5px;
    padding: 2rem;
}

.title{
    color: white;
}

.inputdisplay{
    display: flex; 
    margin-bottom: 10px;
}

#newToDo{
    width: calc(100% - 20px);
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ced4da;
    border-radius: 5px;
}

button {
    padding: 10px;
    border: 1px solid #ff8a2a;
    background-color: #ffa43b;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
    box-sizing: border-box;
    margin-left: 3px;
}

#todoRemaining {
    color: white;
}
#remaining {
    color: white;
}

.clearbutton {
    padding: 10px;
    border: 1px solid #230000;
    background-color: #753eff;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
    box-sizing: border-box;
    margin-left: 3px;
}

.categoryName {
    margin-left: 5px;
    font-weight: bold;
    color: #555;
}
#newCategory{
    width: calc(100% - 20px);
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ced4da;
    border-radius: 5px;
}
#categorySelect{
    width: calc(100% - 20px);
    padding: 10px;
    margin-left: 3px;
    margin-right: 3px;
    margin-bottom: 10px;
    border: 1px solid #ced4da;
    border-radius: 5px;
}
h3{
    color: white;
}
